In [1]:
import pandas as pd

In [5]:
ese_data = pd.read_excel('ese_dsa.xlsx')
ese_data

             roll  ese
0    300102216301   41
1    300102216302   32
2    300102216303   38
3    300102216304   44
4    300102216305   12
..            ...  ...
103    3012215101   39
104    3012215102   47
105    3012215103   45
106    3012215104   64
107    3012215105   48

[108 rows x 2 columns]

In [6]:
sess_data = pd.read_excel('sess_dsa.xlsx')
sess_data

             roll  ct1  ct2        att  ta
0      3012215001   24   32  82.978723  19
1      3012215005   18   36  87.234043  20
2      3012215007    0   19  82.978723  19
3      3012215009   35   15  89.361702  20
4      3012215011   34   30  95.744681  20
..            ...  ...  ...        ...  ..
104    3012215102    0    0  25.000000  12
105    3012215105    0    4  64.583333  15
106  300102216307    7    0  22.916667  12
107    3012215003   26   14  81.250000  19
108  300102216305    5    2  81.250000  19

[109 rows x 5 columns]

In [7]:
temp = {'roll' : [], 'ct1' : [], 'ct2' : [], 'att' : [], 'ta' : [], 'ese' : []}
l = []
for i in range(108):
    for j in range(109):
        if sess_data['roll'][i] == ese_data['roll'][j]:
            temp['roll'].append(sess_data['roll'][i])
            temp['ct1'].append(sess_data['ct1'][i])
            temp['ct2'].append(sess_data['ct2'][i])
            temp['att'].append(sess_data['att'][i])
            temp['ta'].append(sess_data['ta'][i])
            temp['ese'].append(ese_data['ese'][j])
            l.append(sess_data['roll'][i])

KeyError: 108

In [90]:
len(temp['ese'])

108

In [91]:
final_data = pd.DataFrame(temp)
final_data

             roll  ct1  ct2        att  ta  ese
0      3012215001   13    1  63.636364  15   35
1      3012215005   16    2  77.272727  18   43
2      3012215007   25   18  86.363636  20   28
3      3012215009   28   17  63.636364  15   38
4      3012215011   30   19  93.181818  20   43
..            ...  ...  ...        ...  ..  ...
103    3012215098    0    7  53.703704  12   31
104    3012215102   11    0  37.037037  12   21
105    3012215105   21   20  66.666667  16   35
106  300102216307    3    0  50.000000  12   28
107    3012215003    0    0  86.111111  20   31

[108 rows x 6 columns]

In [93]:
final_data.to_excel('deld_final.xlsx')

In [95]:
type(final_data['roll'][106])

numpy.int64